/*
CSS Rules
Syntax:  ;
Selector {
	property: value;
}
*/

/*h1 {
	color: yellow !important;
}*/

/*
1. Universal selector ( * )  (Lowest)
Change the font of every element in HTML
*/

* {
	font-family: "Courier New", monospace; font-size: 20px;
}
/* The "*" is a "universal selector" and is used to target ALL elements*/
/*The "font-family* property changes the style of the font. /
/*The value "Courier New" is used as the primary font and the value "monospace" is used as a secondary font when a browser is unable to use the primary font*/
/*The value "20px" refers to 20 pixels in size*/

/*2. Type Selector */
body {
	background-color: darkgrey;
}
/*The "background-color" property changes the background color of an element*/

/*3. ATTRIBUTE SELECTOR*/
/*The attribute selector only works based on the exact attribute syntax provided in the HTML tag*/
/*It is also case sensitive.*/
input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: darkblue;
	width: 90%;
}
/*4. CLASS SELECTOR ( . )*/
/*The "class" attribute is used to target elements with similar styling. This is a good approach to use for elements that have similar styles across the whole application.*/

.offering-item {
	text-transform: uppercase;
}
/*The "text-transform" property changes font to a certain case*/
/*The value "uppercase" changes text to all capitalized letters.*/

/*5. ID SELECTOR*/

#zuitt-motto{
	letter-spacing: 5px;
}
/*The "id" attribute is used to target elements with unique styling. This is a good approach to use for elements that should have their own style across the whole application*/
/*The "letter-spacing" property changes the spaces in between characters of a text.*/
/* ID selectors have the highest priority for selectors. In this example, the styling of the h3 type selector will not work because ID selector has a higher priority */

/*CSS SELECTOR COMBINATORS*/

/*ADJACENT SIBLING SELECTOR*/
/*
SYNTAX: sibling_element + target_element{
	property:  value;
}
*/

h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*GENERAL SIBLING SELECTOR*/
/*
SYNTAX: 
sibling_element ~ target_element{
property: value;
*/

h2 ~ a, a{
	text-decoration: none;
}

/*CHILD SELECTOR*/
/*SYNTAX: 
	selector1 > selector2{
	style:  properties;
	}
*/

body > section > form > label {
	color: rgb(0, 0, 128);
}
/*RGB Colors*/


/*DESCENDANT SELECTORS*/
/*
SYNTAX: 
	selector1 selector2 {
	style: properties;
	}
*/

#bootcamp-learning-list li{
	color: #075966;
}
/*Hexadecimal Colors*/

/*WHOLE HTML*/

html {
	scroll-behavior: smooth;
}

/*Navigation Bar*/
nav {
	background-color: whitesmoke;
}
/*Selector:  Hover Pseudo Class*/
/*Changes the style when hovered over*/

a:hover{
	background-color: #b4d6de;
}

/*DIV for the Navigation bar*/

div {
	display: inline-block;
	float: right;
}

/*Landing Section & Form Section*/

section{
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}
/*Remove numbers from list*/

ol {
	list-style: none;
}

/*Register Section/Form*/

form{
	text-align: center;
	background-color: whitesmoke;
	border-color: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}