#yellow{
	color: rgb(128, 65, 73);
}

* {
	font-size: 20px;
	font-family: "Verdana", sans-serif ;
}
/*Universal selector*/

h1{
	font-size: 40px;
}
/*Type selector*/

#h2{
	text-transform: uppercase;
}
/*ID selector*/

.languages{
	background-color: darkolivegreen;
}
/*Class selector*/

li[value]{
	border-width: 2px;
	border-style: solid;
	border-color: darkblue;
	width: 90%;
}
/*Attribute selector*/

section img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}
/*Descendant Selector*/

img + ol {
	list-style: none;
}
/*Adjacent Sibling selector*/

ol ~ p, p{
	text-align: center;
}
/*General Sibling selector*/

body > section > div > ol > li {
	letter-spacing: 10px;
}
/*Generic Sibling Selector*/